DirectoryIndex index.php

<Files "config.php">
  Require all denied
</Files>
<Files "config.sample.php">
  Require all denied
</Files>

Options -Indexes

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set X-Frame-Options "SAMEORIGIN"
  Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>
